@use '@styles/vars';

.button {
  background-color: transparent;
  border: 1px solid vars.$green;
  padding: 6px 30px;
  max-width: max-content;
  text-align: center;
  font-size: vars.$font-size-xl;
}

.button:hover {
  background-color: vars.$green;
  color: vars.$white;
}