@use '~styles/vars' as vars;
.footer {
    position: relative;
    background-color: vars.$gray;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    * {
        z-index: 1;
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav {
        padding-top: 20px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-width: 300px;

        svg:hover {
            color: vars.$green;
        }
    }
    .background {
        z-index: 0;
        inset: 85px 0 0 -26vh !important;
        transform: rotate(180deg);
        width: 300px !important;
    }
}

@media (min-width: 768px) {
    .footer {
        padding-left: 50px;
        height: 140px;
        flex-direction: row;
        justify-content: space-between;
        .background {
            display: none;
        }
        .title {
            flex-direction: row;
            justify-content: space-between;
            h3 {
                width: 100px;
                text-align: center;
                margin-right: 30px;
            }
        }
        .nav {
            padding-top: 0;
        }
    }

}