---
import CurriculumVitaeButton from "./CurriculumVitaeButton.astro";
import lines from "../assets/lines.png";
import { Image } from "astro:assets";
---

<section class="about-me" id="about-me">
  <h2>About Me</h2>
  <p>
    I&apos;m a driven and self-motivated software developer who&apos;s always
    seeking new opportunities to learn and grow.
  </p>
  <p>
    One of my biggest motivations is to improve my skills every day to keep
    growing as a professional.
  </p>
  <p>
    With a passion for troubleshooting and a deep understanding of programming
    languages and technologies, I enjoy creating innovative solutions that have
    the potential to make a real impact.
  </p>
  <p>
    Whether I&apos;m working on a complex project or tackling a new challenge,
    I&apos;m always pushing myself to be better and to achieve great results.
  </p>
  <div class="button-container">
    <CurriculumVitaeButton />
  </div>
  <Image alt="Decorative lines" src={lines} class="background" />
</section>

<style lang="scss">
  .about-me {
    width: 100%;
    padding: 20px 30px;
    line-height: 2.2rem;
    position: relative;
    text-align: center;
    overflow: hidden;
    p {
      position: relative;
      z-index: 1;
      text-shadow: 1px 1px 1px black;
    }
    .button-container {
      margin-top: 30px;
    }
    .background {
      position: absolute;
      object-fit: contain;
      right: -180px;
      top: 10%;
      z-index: -1;
    }
  }

  @media (min-width: 768px) {
    .about-me {
      padding: 20px 50px;
      text-align: left;
      .background {
        right: 0;
        top: 0;
      }
    }
  }
</style>
