$font-size-sm: 1.2rem;
$font-size-md: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 2.4rem;
$font-title-size-primary-desktop: 6.4rem;
$font-title-size-secondary-desktop: 3rem;
$font-title-size-tertiary-desktop: 2rem;
$font-title-size-primary-tablet: 5.4rem;
$font-title-size-secondary-tablet: 3rem;
$font-title-size-tertiary-tablet: 2rem;
$font-title-size-primary-mobile: 5.2rem;
$font-title-size-secondary-mobile: 2.8rem;
$font-title-size-tertiary-mobile: 1.8rem;
$dark: #141313;
$green: #3EF779;
$white: #FFFFFF;
$gray: #434240;
$background-gray: #1E1E1E;