@use './vars' as vars;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  background-color: vars.$background-gray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: vars.$font-title-size-primary-mobile;
}

h2 {
  font-size: vars.$font-title-size-secondary-mobile;
}

h3 {
  font-size: vars.$font-title-size-tertiary-mobile;
  font-weight: 400;
}

p, a, li, h1, h2, h3 {
  color: vars.$white;
}

p, a, li {
  font-size: vars.$font-size-md;
}

@media (min-width: 768px) {
  h1 {
    font-size: vars.$font-title-size-primary-desktop;
  }
  h2 {
    font-size: vars.$font-title-size-secondary-desktop;
  }
  h3 {
    font-size: vars.$font-title-size-tertiary-desktop;
  }
}