@use './vars';

.header {
  background-color: vars.$dark;
  color: vars.$white;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
}

.header-left {
  width: 40%;
  display: flex;
  align-items: center;
  h2 {
    font-style: italic;
    color: vars.$green;
  }
}

.header-right {
  width: 40%;
  display: flex;
  align-items: center;
  .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    li {
      padding-left: 20px;
    }
  }
}
