.about-me {
    width: 100%;
    padding: 20px 30px;
    line-height: 2.2rem;
    position: relative;
    text-align: center;
    overflow: hidden;
    p {
        position: relative;
        z-index: 1;
        text-shadow: 1px 1px 1px black;
    }
    .background {
        object-fit: contain;
        object-position: 79vw;
    }
}

@media (min-width: 768px) {
    .about-me {
        padding: 20px 40px;
        text-align: left;
        h2 {
            padding-bottom: 24px;
        }
    }
}