.about-me {
    width: 100%;
    padding: 20px 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .about-me {
        padding: 20px 40px;
        text-align: left;
        h2 {
            padding-bottom: 24px;
        }
    }

}